In [ ]:
#conditional statement

age = int(input("Enter your age: "))
if age >= 21:
  print("you are eligible for voting")
else:
  print("you are not eligible for voting")

Enter your age: 21
you are eligible for voting

In [ ]:
marks = eval(input("Enter your marks: "))
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")
else:
  print("Grade F")

Enter your marks: 50

In [ ]:
#nested if statement
num = int(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Number is zero")
  else:
    print("Number is positive")
else:
  print("Number is negative")

Enter a number: 10
Number is positive

In [ ]:
num = 10
if num > 5:
  if num % 2 == 0:
    print(f"{num} is greater than 5 and even")
  else:
    print(f"{num} is greater than 5 and odd")
else:
  print(f"{num} is less than or equal to 5")

Number is greater than 5 and even

In [ ]:
#short hand method
age = 30
message = "Adult" if age >= 18 else "Not Adult"
print(message)

Adult

In [ ]:
#match-case statement
#Traffic Signal
color = input("Enter the color of the traffic signal: ").lower()
match color:
  case "red":
    print("Stop")
  case "yellow":
    print("Get Ready")
  case "green":
    print("Go")
  case _:
    print("Invalid color")

Enter the color of the traffic signal: RED
Stop

In [ ]:
#For Loop

fruits = ["Apple", "Banana", "Mango"]
for fruit in fruits:
  print(fruit)

Apple
Banana
Mango

In [ ]:
#for loop on strings

fruit = "Apple"
for char in fruit:
  print(char)

A
p
p
l
e

In [ ]:
#for loop on dictionary
nouns = {"Fruit" : "Apple","Car" : "Suzuki", "City" : "Tokyo"}
for key, value in nouns.items():
  print(f"{key} : {value}")

Fruit : Apple
Car : Suzuki
City : Tokyo

In [ ]:
#range
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while loop
count = 0
while count < 5:
  print(f"Count: {count}")
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [ ]:
#infinite loop
while True:
  user_input = input("enter q to quit: ")
  if user_input == "q":
    break
  print("you have not entered q")

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

In [ ]:
#pass in loop
for i in range(5):
  pass

In [ ]:
#loop inside loop
for i in range(3):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{i} x {j} = {i*j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#loop else statement
for i in range(5):
  print(i)
else:
  print("loop completed")

0
1
2
3
4
loop completed

In [ ]:
#search functionality
num = [1,2,3,4,5]
search = 7

for i in num:
  if i == search:
    print(f"{search} found")
    break
else:
  print(f"{search} not found")

7 not found

In [ ]:
def greet(name):
  print(f"Hello, {name} is learning python")


greet("Bahauddin")

Hello, Bahauddin is learning python

In [ ]:
def add(a,b):
  return a + b

result = add(2,3)
print(result)

In [ ]:
def display_info(name = "Bahauddin",age = 18):
  print(f"Name: {name}, Age: {age}")

display_info("Ali")

Name: Ali, Age: 18

In [ ]:
def my_funtion():
  pass

result = my_funtion()
print(result)

None

In [ ]:
#arbitrary arguments
def add(*args):
  total = 0
  for num in args:
    total += num
  return total

result = add(1,2,3,4,5)
print(result)

In [ ]:
def print_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_info(name = "Bahauddin", age = 18)

name: Bahauddin
age: 18

In [ ]:
#lambda function
square = lambda x : x ** 2
result = square(5)
print(result)

25